img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.banner
{
position: relative;
}
.search_box{
margin: 0 auto 0 auto;
z-index: 800;
width: 70%;
position: absolute;
bottom: -33px;
display: block;
left: 15%;
}
.search_box ul
{
display: table;
list-style: none;
margin: 35px auto;
padding: 0;
}
.search_box ul li
{
display: table-cell;
margin:0;
padding: 0;
}
.search_box ul li input, .search_box ul li select
{
height: 65px;
padding: 6px 12px;
width: 100%;
min-width: 350px;
border-right: 1px solid #ccc;
background: #fff !important;
}
.search_box ul li button
{
height: 65px;
padding: 6px 12px;
width: 100%;
min-width: 270px;
border-radius: 0;
margin-left: -20px;
}
.newClass
{
position: fixed;
top:0;
z-index: 1000;
margin: 0 auto !important;
height: 100px;
background: #fff;
width: 100%;
}
.app_area
{
padding: 5% 0;
}
.app_area a
{
margin-right: 5px;
}
body {
    font-family: Verdana, sans-serif;
    /* margin: 0; */
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row > .columnn {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .columnn {
    float: left;
    /*width: 25%;*/
     height: 60px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
    .hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }